python-dotenv
pymongo
google-generativeai

fastapi==0.109.0
uvicorn==0.27.0
streamlit==1.31.0
requests==2.31.0

langchain==0.1.20
langchain-core==0.1.52
langchain-google-genai==1.0.1
langchain-community==0.0.38
langgraph
langgraph.checkpoint.memory